:root {
    --card: #ffffff16;
}

@media (prefers-color-scheme: dark) {
    :root {
        --card: #00000016;
    }
}


@media screen and (max-width: 520px) {
    .pc {
        visibility: hidden;
    }

    .pc *{
    display: none;
    }

.card {
    width: 0px;
}
}

@media screen and (min-width: 521px) {
    .mobile {
        visibility: hidden;
    }
    .mobile *{
        display: none;
        }

    .card {
        width: 450px;
        margin: auto;
    }
}


body {
    margin: 0px;
    color: #fafafa;
    font-family: LINESeedJP;
}


@font-face {
    font-family: "LINESeedJP";
    src: url(./LINESeedJP_A_TTF_Rg.ttf);
}

h1,
h2,
p,
a {
    margin: 0px;
}

.background {
    width: 100vw;
    height: 100vh;
    background-image: url(./background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.card {
    display: flex;
    position: relative;
    top: calc(50vh - 107px);
    background-color: var(--card);
    height: 150px;
    padding: 32px;
    border-radius: 16px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 16px 16px 32px #00000076;
}

.card-mobile {
    margin: auto;
    background-color: var(--card);
    width: calc(100vw - 104px);
    height: auto;
    padding: 32px;
    padding-bottom: 64px;
    border-radius: 16px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 2px 2px 4px #0000001d;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    text-align: center;
}

.icon {
    height: 100%;
    width: 128px;
}

.icon img {
    position: relative;
    display: block;
    margin: auto;
    top: calc(50% - 64px);
    border-radius: 100%;
    width: 128px;
    filter: drop-shadow(4px 4px 5px #000000a9);
}

.icon-mobile {
    width: 100%;
}

.icon-mobile img {
    position: relative;
    display: block;
    margin: auto;
    margin-bottom: 16px;
    top: calc(50% - 64px);
    border-radius: 100%;
    width: 80%;
    filter: drop-shadow(4px 4px 5px #000000a9);
}

.line {
    margin: 0px 32px;
    width: 1px;
    background-color: #fafafaa7;
}

.line-mobile {
    height: 1.5px;
    border-radius: 2px;
    width: 100%;
    background-color: #fafafaa7;
}

.profile {
    width: 100%;
    height: auto;
    margin: auto 0px;
}

.name {
    text-align: center;
}

.name-mobile {
    text-align: center;
    font-size: 7vw;
}

.info {
    text-align: center;
    position: relative;
    top: -10px;
}

.info-mobile {
    text-align: center;
    position: relative;
    top: -10px;
    font-size: 4vw;
}

.sns {
    display: flex;
    width: calc(32px * 5);
    height: 32px;
    margin: 0px auto;
    filter: drop-shadow(1px 1px 2px #00000025);
}

.sns-icon {
    width: 32px;
    height: 32px;
    filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%);
}

.sns-big {
    width: 27px;
    height: 27px;
    margin: 2.5px;
    filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%);
}

.sns-mobile {
    display: flex;
    width: calc(14vw * 5);
    height: 14vw;
    margin: 0px auto;
    filter: drop-shadow(1px 1px 2px #00000025);
}

.sns-icon-mobile {
    width: 14vw;
    height: 14vw;
    filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%);
}

.sns-big-mobile {
    width: calc(14vw * 0.84375);
    height: calc(14vw * 0.84375);
    margin: calc(14vw * 0.078125);
    filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%);
}